{
  "CompileFlags": {
    "Add": [
      "-xc",
      "-std=gnu89",
      "-ferror-limit=0",
      "-DLUA_32BITS",
      "-DLUA_USE_C89",
      "-DLUA_USE_JUMPTABLE=0",
      "-U__LP64__",
      "-Wno-comment",
      "-Wno-pragma-pack",
      "-Wno-include-hygiene",
      "-Wno-system-headers",
      "-nostdinc",
      "-isystem/home/mike/repos/mvsmf/contrib/cren370_sdk/inc",
      "-isystem/home/mike/repos/mvsmf/contrib/httpd_cgi_sdk/inc",
      "-I/home/mike/repos/mvsmf/inc"
    ]
  },
  "Diagnostics": {
    "ClangTidy": {
      "Add": ["*"],
      "Remove": [
        "llvmlibc-restrict-system-libc-headers",
        "llvm-include-order",
        "modernize-deprecated-headers",
        "hicpp-no-assembler",
        "altera-unroll-loops",
        "bugprone-easily-swappable-parameters",
        "bugprone-not-null-terminated-result",
        "readability-identifier-length"
      ]
    },
    "UnusedIncludes": "Strict"
  }
}
