# MVS host connection
MVSMF_HOST=localhost
MVSMF_PORT=1080
MVSMF_USER=IBMUSER
MVSMF_PASS=sys1

# JES job settings
MVSMF_JOBCLASS=A
MVSMF_MSGCLASS=H
# MVSMF_KEEP_JCL=1

# Assembly
MVSMF_ASM_MAC1=CRENT370.MACLIB
MVSMF_ASM_PUNCH=IBMUSER.MVSMF.OBJECT
MVSMF_ASM_SYSLMOD=IBMUSER.MVSMF.NCALIB

# Link-edit
MVSMF_LINK_SYSLIB=IBMUSER.CRENT370.NCALIB
MVSMF_LINK_NCALIB=IBMUSER.MVSMF.NCALIB
MVSMF_LINK_LOAD=IBMUSER.MVSMF.LOAD
MVSMF_LINK_ENTRY=@@CRT0
MVSMF_LINK_NAME=MVSMF

# Install
MVSMF_INSTALL_SOURCE=IBMUSER.MVSMF.LOAD
MVSMF_INSTALL_TARGET=HTTPD.LINKLIB
MVSMF_INSTALL_MEMBER=MVSMF

# Package (TRANSMIT + download)
MVSMF_PKG_SOURCE=IBMUSER.MVSMF.LOAD
MVSMF_PKG_XMIT=IBMUSER.MVSMF.XMIT
MVSMF_PKG_NODE=GITHUB.COM
